/oe-core/.repo/
/oe-core/build/deploy/
/oe-core/build/tmp/
/.idea/
/oe-core/build/bitbake-cookerdaemon.log
/oe-core/downloads/
/oe-core/layers/meta-freescale/
/oe-core/layers/meta-freescale-3rdparty/
/oe-core/layers/meta-freescale-distro/
/oe-core/layers/meta-openembedded/
/oe-core/layers/meta-qt5/
/oe-core/layers/meta-toradex-bsp-common/
/oe-core/layers/meta-toradex-demos/
/oe-core/layers/meta-toradex-distro/
/oe-core/layers/meta-toradex-nxp/
/oe-core/layers/meta-yocto/
/oe-core/layers/openembedded-core/
/oe-core/build/buildhistory/
/oe-core/build/cache/
/oe-core/sstate-cache/
