[Unit]
Description=System shutdown service, see run_shutdown.sh.
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStop=/home/root/run_shutdown.sh

[Install]
WantedBy=final.target