[Unit]
Description=poweroff the Display L
DefaultDependencies=no
After=umount.target
Before=final.target

[Service]
ExecStart=/home/root/poweroff.sh
Type=oneshot

[Install]
WantedBy=poweroff.target
WantedBy=reboot.target
WantedBy=halt.target
